@import '../helpers/mixins';
@import '../helpers/variables';
@import '../components/header';
@import '../components/nav';
@import '../components/hero';
@import '../components/gallery';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

.container {
    max-width: 1048px;
    margin: 0 auto;
}

body {
    padding: 0;
}

a {
    text-decoration: none;
}


